[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
playwright = "*"
bs4 = "*"
requests-html = "*"
lxml-html-clean = "*"
pandas = "*"
numpy = "*"
rich = "*"
httpx = "*"
selenium-wire = "*"
scrapy = "*"
selectolax = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.11"
